<!DOCTYPE html>
<html>
<body>

<h2>JavaScript Geolocation API</h2>
<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
const x = document.getElementById("demo");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  var lat = document.getElementById('lat');
  lat.value = position.coords.latitude;
  var long = document.getElementById('lon');
  long.value = position.coords.longitude;
  document.getElementById('myForm').submit();
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}

function showError(error) {
  if(error.PERMISSION_DENIED)
  {
    alert("Enable location to place Your order");
  }
}
</script>

<form id="myForm" method="post" action="/storeLoc">
<input type="text" name="username" required>
<input type="hidden" name="lat" id="lat">
<input type="hidden" name="lon" id="lon">

</form>

</body>
</html>
